html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

header {
    position: relative;
    width: 100%;
    padding:  2rem 2.1rem 2rem 7.2rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.header_contact_section,
.header_nav_section {
    width: 100%;
    z-index: 2;
}

.header_contact_section {
    display: flex;
}

.menu {
    background-color: #00b3f6;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2.5rem 7.125rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    opacity: 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu_visible {
    opacity: 1;
    z-index: 10;
    height: 50rem;
}

.full_menu {
    width: 70%;
}

.menu_logo img {
    width: 7.6rem;
    height: 2.5rem;
}

.full_menu ul {
    display: block;
    margin: 3.6rem auto 0;
    list-style: none;
    padding: 0;
}

.full_menu ul::after {
    content: '';
    display: block;
    width: 30%;
    height: 0.1rem;
    margin: 2rem 0.5rem;
    background-color: #ffffff;
}

.full_menu a {
    text-decoration: unset;
    font-size: 3.8rem;
    margin-bottom: 3rem;
    color: #ffffff;
    font-weight: bold;
}

.menu_contacts {
    width: 30rem;
    margin: -4rem auto 0;
    box-sizing: border-box;
    padding: 0 2.5rem;
}

.menu_contacts span {
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
    color: #ffffff;
    display: block;
}

.menu_social_links img {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem 0.5rem 0 0;
}

.styled_full_menu_item {
    color: #333333 !important;
}

.close {
    position: absolute;
    top: 0rem;
    right: -1.5rem;
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    opacity: 1;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.close:before,
.close:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.6rem;
    height: 0.1rem;
    background: #ffffff;
}

.close:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close:hover {
    opacity: 0.7;
}

.header_decoration_first {
    position: absolute;
    top: -0.6rem;
    left: -1.4rem;
    width: 5rem;
}

.header_decoration_first img {
    width: 100%;
}

.header_logo,
.header_contacts {
    width: 50%;
}
.header_logo {
    padding-top: 0.6rem;
}

.header_contacts_info {
    z-index: 2;
}

.header_logo img {
    width: 7.6rem;
    height: 2.5rem;
}

.header_contacts {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_contacts_info span {
    margin: 1rem;
    font-size: 0.87rem;
    line-height: 4rem;
    color: #333333;
    font-family: "Montserrat";
}

.header_burger_menu {
    z-index: 1001;
}

.menu__icon {
    display: inline-block;
    margin-top: 1.2rem;
    width: 2.1rem;
    height: 2.1rem;
    position: relative;
    cursor: pointer;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #333333;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);

    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0;
}

.menu__icon span:nth-child(2),
.menu__icon span:nth-child(3) {
    top: 0.5rem;
}

.menu__icon span:nth-child(4) {
    top: 1rem;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 1rem;
    width: 0%;
    left: 50%;
    background-color: #ffffff;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
    background-color: #ffffff;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #ffffff;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 1rem;
    width: 0%;
    left: 50%;
    background-color: #ffffff;
}

.about {
    width: 100%;
    margin: 0 auto 2rem;
    padding: 5rem 0rem;
    display: flex;
}

.section_text {
    width: 45%;
}

.section_logo {
    width: 55%;
    padding-left: 1rem;
}

.section_text h2 {
    font-size: 2.875rem;
    line-height: 60px;
    color: #333333;
    font-weight: bold;
    margin: 1.75rem auto;
    text-transform: uppercase;
}

.section_text p {
    font-size: 0.875rem;
    color: #333333;
    margin-bottom: 2.875rem;
}

.section_logo {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo_style {
    line-height: 0;
    font-size: 23.4475rem;
    color: #40a2d3;
    font-weight: 800;
}

.logo_text_style {
    font-size: 2.4375rem;
    letter-spacing: 1.94rem;
    color: #333333;
    position: absolute;
    left: 19rem;
    bottom: 0.5rem;
}


.btn {
    cursor: pointer;
    background-color: #3fa1d3;
    padding: 0.8rem 0.75rem;
    font-size: 0.93rem;
    color: white;
    border-radius: 1.875rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: unset;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn:hover {
    box-shadow: 0px 5px 16px rgba(14, 76, 107, 0.39);
}

.about_btn {
    position: relative;
    margin-left: 0.18rem;
    width: 15.6875rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.btn:hover .arrow_btn {
    margin-left: 8rem;
}

.about_btn span {
    position: absolute;
    top: 1.06rem;
    left: 1.375rem;
}

.arrow_btn {
    margin-left: 6rem;
    width: 2.25rem;
    height: 1.75rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.call_to_action {
    width: 100%;
    padding: 9.1875rem 8.125rem;
    background-color: #3fa1d3;
    display: flex;
}

.call_to_action_item {
    width: 50%;
}

.call_to_action_item h2 {
    font-size: 2.0625rem;
    line-height: 2.6875rem;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 1.75rem;
}

.call_to_action_item h3 {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    color: #ffffff;
    margin-bottom: 2.375rem;
}

.call_to_action__styled_span {
    text-transform: uppercase;
    position: relative;
}

.call_to_action__styled_span::before {
    content: '';
    width: 100%;
    height: 0.75rem;
    background-color: #e3187d;
    position: absolute;
    bottom: 0.1rem;
    left: 0;
    z-index: 1;
}

.call_to_action__styled_span span {
    position: relative;
    z-index: 2;
}

.call_to_action_item p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #ffffff;
    font-family: "Montserrat";
}

.call_to_action__styled_text {
    font-weight: bold;
}

.call_to_action_btn {
    background-color: #ffffff;
    color: #3fa1d3;
    width: 15.6875rem;
    margin-top: 2.875rem;
}

.advantages {
    width: 100%;
    padding: 8.0625rem 8.125rem;
}

.advantages_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.advantages_content_item {
    width: 48%;
    background-color: #3fa1d3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin: 1rem auto 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.advantages_content_item p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #ffffff;
    width: 70%;
    display: block;
}

.advantages_content_item__img {
    width: 4.75rem;
    height: 4.75rem;
    border-radius: 50%;
    border: 0.0625rem solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

.advantages_content_item__img svg {
    width: 60%;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.advantages_content_item:hover {
    background-color: #ffffff;
    box-shadow: 0px 7px 21px rgba(0,0,0,0.15);
}

.advantages_content_item:hover .svg_change_color {
    fill: #333333;
}

.advantages_content_item:hover .advantages_content_item__img{
    border: 0.0625rem solid #333333;
}

.advantages_content_item:hover p {
    color: #333333;
}

.advantages_text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333333;
    margin-top: 2.25rem;
    display: block;
    width: 75%;
}

.advantages_text a {
    text-decoration: none;
    color: #e3187d;
    font-weight: bold;
    text-transform: uppercase;
}

.advantages_btn {
    width: 15.6875rem;
    height: 3.8125rem;
    margin-top: 2.875rem;
}

.additional_info {
    width: 100%;
    padding: 9.1875rem 8.125rem;
    background-color: #3fa1d3;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow-x: hidden;
}

.additional_info h2 {
    font-size: 2.0625rem;
    line-height: 2.6875rem;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 1.75rem;
    width: 100%;
    display: block;
}

.argument_text {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #ffffff;
    display: block;
    width: 85%;
}

.arguments_list_number {
    width: 2.1875rem;
    height: 2.1875rem;;
    border-radius: 100%;
    box-shadow: 0px 0.1875rem 0.4375rem rgba(21,49,68,0.35);
    background-color: #ffffff;
    color: #3fa1d3;
    font-size: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.1875rem;
}

.additional_info ul {
    width: 100%;
}

.arguments_item {
    display: flex;
    align-items: center;
    padding: 1.1875rem 0 0;
}

.arguments_item:nth-of-type(2) {
    align-items: flex-start;
}

.additional_info_advice {
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
    margin: 1.875rem 3.3rem;
    padding-left: 1.125rem;
    border-left: 0.25rem solid #e3187d;
}

.additional_advice_styled {
    text-decoration: underline;
    font-weight: bold;
}

.advertising_targets {
    list-style: disc;
    padding-left: 1rem;
}

.advertising_targets h3 {
    font-size: 1.125rem;
    color: #ffffff;
    margin-bottom: 1.3125rem;
}

.advertising_target_item {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #ffffff;
    margin-bottom: 1.3125rem;
}

.additional_info_btn {
    background-color: #ffffff;
    color: #3fa1d3;
    width: 15.6875rem;
    margin: 2.875rem 0 0 0;
}

.additional_info_content {
    width: 70%;
}

.additional_item_img_container {
    width: 50%;
    height: 26.125rem;
    border: 0.3125rem solid #ffffff;
    position: absolute;
    right: -14rem;
    bottom: 9rem;
}

.additional_item_img {
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    position: absolute;
}

.additional_item_img:nth-of-type(1) {
    background-image: url(../img/mockup_2.jpeg);
    top:-0.5rem;
    left:-0.5rem;
    right:-0.5rem;
    bottom:-0.5rem;
    box-shadow: 0px 13px 13px rgba(0,0,0,0.39);
}

.additional_item_img:nth-of-type(2) {
    background-image: url(../img/mockup_1.jpeg);
    top:1.5rem;
    left: 2rem;
    right: 2rem;
    bottom: 2rem;
    box-shadow: 0px 13px 13px rgba(0,0,0,0.39);
}

.our_works {
    width: 100%;
    padding: 7.6875rem 8.125rem;
}

.our_works h2 {
    font-size: 2.0625rem;
    color: #40a2d3;
    font-weight: bold;
}

.our_works_content {
    padding-top: 4.125rem;
}

.our_works_content_item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.our_works_content_item h3 {
    font-size: 2.5rem;
    color: #e3187d;
    font-weight: bold;
    opacity: 0.5;
    text-transform: uppercase;
    display: block;
    width: 100%;
}

.our_works_content__column {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3.125rem;
    padding-right: 2rem;
}

.our_works_column_second {
    width: 70%;
    padding-top: 3.125rem;
    padding-left: 2rem;
}

.our_works_column_item {
    width: 100%;
    padding-bottom: 1rem;
}

.our_works_column_item span {
    font-size: 0.9375rem;
    line-height: 1.3125rem;
    color: #40a2d3;
    font-weight: bold;
    text-transform: uppercase;
}

.our_works_column_item p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333333;
    margin-top: 1.1875rem;
}

.our_works_content_row {
    width: 100%;
    display: flex;
}

.our_work_content_in_numbers {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.our_work_content_in_numbers_first, .our_work_content_in_numbers_second, .client_logo {
    width: 33.3%;
    text-align: center;
}

.progress_number {
    margin-bottom: 0.625rem;
    font-size: 2.5rem;
    line-height: 1.375rem;
    color: #e3187d;
    font-weight: bold;
    text-align: left;
    display: block;
    width: 100%;
}

.progress_number_text {
    font-size: 0.75rem;
    line-height: 1.375rem;
    color: #333333;
    display: block;
    width: 100%;
}

.client_logo {
    padding: 0 1.5rem;
}

.client_logo a {
    font-size: 0.75rem;
    color: #e3187d;
    text-align: center;
}
