html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    position: relative;
    width: 100%;
    padding: 1.5rem 4rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.header_logo, .header_contacts {
    width: 50%;
}

.header_logo img{
    width: 6.5rem;
}

.header_contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.header_contacts_info span {
    margin: 1rem;
    font-size: 0.8rem;
    line-height: 4rem;
    color: #ffffff;
    font-family: "Montserrat";
}

.menu__icon {
    width: 2rem;
    display: flex;
    flex-direction: column;
}

.menu__icon span {
    background-color: #ffffff;
    width: 2.1rem;
    height: 2px;  /* px used instead of rem */
    margin: 0.2rem
}

.header_background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -32rem;
    right: -40rem;
}

.about {
    box-sizing: border-box;
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
}

.about h2 {
    display: block;
    width: 19rem;
    font-size: 2.8rem;
    line-height: 3.75rem;
    text-transform: uppercase;
    color: #40a2d3;
    font-weight: bold;
    margin: 0 0 4.25rem 0;
}

.about_btn {
    width: 20%;
}

.btn {
    background-color: #40a1d3;
    padding: 1.3rem 1.5rem;
    font-size: 1rem;
    color: white;
    border-radius: 1.8rem;
    text-align: center;
}

.next_screen {
    margin: 3.8rem auto;
    box-sizing: border-box;
    width: 100%;
    text-align: center;

}


.services h2, .philosophy h2, .our_works h2, .apply h2, .circle_block h2 {
    font-size: 2rem;
    line-height: 4.4rem;
    color: #40a2d3;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-left: 2rem;
}

.service_type, .philosophy_content {
    display: flex;
    padding: 0 2rem;
    box-sizing: border-box;
    margin: 2rem auto;
}

.service_type > div {
    width: 33%;
}

.service_type_item {
    position: relative;
    box-sizing: border-box;
    margin: 4rem 0.5rem;
    padding: 2rem 1rem;
    height: 28rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service_type_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    background-blend-mode: difference;
    background:-webkit-linear-gradient(-74deg, rgb(227, 23, 125) 0%, rgb(63, 161, 211) 80%);
    background:-o-linear-gradient(-74deg, rgb(227, 23, 125) 0%, rgb(63, 161, 211) 80%);
    background:-moz-linear-gradient(-74deg, rgb(227, 23, 125) 0%, rgb(63, 161, 211) 80%);
    background:linear-gradient(-74deg, rgb(227, 23, 125) 0%, rgb(63, 161, 211) 80%);
}


.service_type_item_first {
    background-image: url(../img/service_type_img1.jpg);
    background-size: cover;
    background-position: left;
}

.service_type_item_second {
    background-image: url(../img/service_type_img2.jpeg);
    background-size: cover;
    background-position: center;
}

.service_type_item_third{
    background-image: url(../img/service_type_img3.jpeg);
    background-size: cover;
    background-position: center;
}

.service_type_item:hover {
    background-color: #45A4D1;
    margin: 2rem 0.5rem;
    height: 32rem;

}

.service_type_item:hover p {
    color: rgba(255, 255, 255, 1);  /* rgba used instead of hex to change opacity on :hover */
}

.service_type_item:hover span {
    color: rgba(255, 255, 255, 1); /* rgba used instead of hex to change opacity on :hover */
}

.service_type_item h3 {
    line-height: 1.5rem;
    line-height: 2rem;
    color: #ffffff;

}

.service_type_item_logo {
    width: 2.5rem;
    height: 2.5rem;
}

.first_service_logo {
    background-image: url(../img/Icons/service_type_logo1.svg);
    background-size: cover;
    background-position: center;
}

.second_service_logo {
    background-image: url(../img/Icons/service_type_logo2.svg);
    background-size: cover;
    background-position: center;
}

.third_service_logo {
    background-image: url(../img/Icons/service_type_logo3.svg);
    background-size: cover;
    background-position: center;
}



.service_type_item p, .service_type_item span {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0);  /* rgba used instead of hex to change opacity on :hover */
    line-height: 1.5rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.apply_project_info h3, .apply_contacts h3 {
    font-size: 1.5rem;
    line-height: 4rem;
    color: #ffffff;
}

.service_type_item span {
    display: block;
    margin: 4rem auto 0;
}

.philosophy {
    text-align: left;
}

.philosophy_logo, .philosophy_text {
    margin: 0 1rem 0 0;
}

.philosophy_logo {
    position: relative;
}

.philosophy_logo span {
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: bold;
    background: linear-gradient(124deg, #e3177d 0%, #3fa1d3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.philosophy_logo div {
    position: absolute;
    top: 8.5rem;
    right: 7.9rem;
    width: 2rem;
    height: 2rem;
    background-image: linear-gradient(124deg, #e3177d 0%, #3fa1d3 100%);
    border-radius: 100%;
    opacity: 0.8;
    filter: blur(3px);  /* px used instead of rem */
}

.philosophy_text {
    padding: 0 2rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: #333333;
    font-weight: bold;
}

.philosophy_btn {
    margin: 2.6rem 0 0;
    width: 40%;
}

.circle_block {
    width: 100%;
}

.circle_block h2 {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-left: 1rem;
}

.circle_content {
    position: relative;
    box-sizing: border-box;
    width: 40%;
    margin: 2rem auto;
    background-image: url(../img/circle.svg);
    background-size: cover;
    background-position: center;
    padding: 20%;
}

.circle_content_btn {
    width: 16%;
    margin: 6rem auto;
}

.circle_content_item {
    width: 20rem;
    position: absolute;
    display: flex;
    align-items: center;
}

.circle_step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 100%;
    background-color: #ffffff;
    border: 1px solid #e3177d;  /* px used instead of rem */

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.circle_step span {
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: #e3187d;
    text-align: center;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.circle_content_item h3 {
    margin: 0 2rem;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.first_step {
    top: -5.5rem;
    left: 6.5rem;
    flex-direction: column;
    justify-content: center;
}

.first_step div {
    margin-top: 2rem;
}

.second_step {
    top: 5.2rem;
    left: 26.5rem;
}


.third_step {
    top: 17.3rem;
    left: 29.8rem;
}

.fouth_step {
    width: 23rem;
    top: 28rem;
    left: 21.6rem;
}

.fifth_step {
    top: 28rem;
    left: -5rem;
}

.sixth_step {
    top: 17.3rem;
    left: -9rem;
}

.seventh_step{
    top: 4.5rem;
    left: -13.2rem;

}

.circle_content_item h3 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #40a2d3;
    font-weight: bold;
}

.circle_content_item:hover .circle_step{
    color: #ffffff;
    background-color: #40a1d3;
    border: 1px solid rgba(18,71,97,0.38);  /* px used instead of rem */
    box-shadow: 0 0.4rem 0.8rem rgba(18,71,97,0.38);  /* rgba used instead of hex to change opacity on :hover */
}

.circle_content_item:hover span {
    color: #ffffff;
}

.circle_content_item:hover h3 {
    color: #e3187d;
}

.circle_text_item {
    padding: 3rem;
    height: 22rem;
    position: absolute;
    top: 8rem;
    left: 0;
}

.circle_text_item p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: #333333;
    text-align: center;
}

.second_step_text, .third_step_text {
    opacity: 0;
}

.circle_text_visible {
    opacity: 1;
}

.our_works, .philosophy, .services, .apply {
    width: 80%;
    margin: 0 auto;
}

.work_examples {
    margin: 2rem auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.work_examples_item {
    width: 45%;
    box-sizing: border-box;
    padding: 10rem 14rem;
    margin: 1rem;
    position: relative;
}

.work_example_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 179, 246, 0);

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.work_examples_item img {
    width: 5.8rem;
}

.work_example_first {
    background-image: url(../img/our_works_img1.jpg);
    background-size: cover;
    background-position: center;
    transform: scale(-1, 1)
}

.work_example_first img {
    position: absolute;
    top: 1.5rem; 
    right: 1.5rem;
    transform: scale(-1, 1);
}

.work_example_second {
    background-image: url(../img/our_works_img2.jpg);
    background-size: cover;
    background-position: center;
}

.work_example_second span {
    position: absolute;
    top: 1.5rem; 
    left:  1.5rem;
    font-size: 1.5rem;
}

.work_example_third {
    background-image: url(../img/our_works_img3.jpeg);
    background-size: cover;
    background-position: center;
}

.work_example_third img {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem;
}

.work_example_fourth {
    background-image: url(../img/our_works_img4.png);
    background-size: cover;
    background-position: center;
}

.work_example_fourth img {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem;
}

.work_example_fifth {
    background-image: url(../img/our_works_img5.jpg);
    background-size: cover;
    background-position: top;
}

.work_example_fifth img {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem;
}

.work_example_sixth {
    background-image: url(../img/our_works_img6.png);
    background-size: cover;
    background-position: right;
}

.work_example_sixth img {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem;
}

.work_examples_btn {
    width: 25%;
    margin: 2rem auto 0;
}


.apply {
    padding: 6rem;
    box-sizing: border-box;
    margin: 8rem auto 0;
    border: 3px solid #45A4D1; /* px used instead of rem */
}

.apply h2, .apply p {
    text-align: center;
}



.apply p {
    font-size: 0.8rem;
    color: #333333;
}

.apply_content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.apply_project_info, .apply_contacts {
    width: 50%;
    margin: 0 auto;
}

.apply_contacts input {
    padding: 0 0 2rem;
}

.apply_project_info h3, .apply_contacts h3{
    color: #45A4D1;
}

.apply_service h4, .apply_service span, .apply_project_info h4, .apply_contacts input {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
}

.apply_service input {
    margin-right: 1rem;
}

.apply_service_checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    width: 100%;
    padding-bottom: 0.5rem;
}

.apply_service_checkbox span {
    font-size: 0.8rem;
    color: #333333;
    text-align: center;
    margin-left: 1.5rem;
}

.apply_service_checkbox_wrap {
    position: relative;
}

.apply_service_checkbox_wrap img {
    position: absolute;
    top: 25%;
    left: 28%;
    opacity: 0;
}
  
.apply_service_checkbox .apply_service_checkbox_wrap {
    width: 1.25rem;
    height: 1.2rem;
    border-radius: 5px;
    border: 1px solid #999999;/* px used instead of rem */
    display: inline-block;
}
  
.apply_service_checkbox input[type="checkbox"] {
    display: none;
}


.apply_service_checkbox input:checked + .apply_service_checkbox_wrap {
    border: 1px solid #e3187d;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.apply_service_checkbox input:checked + .apply_service_checkbox_wrap img{
    opacity: 1;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.apply_service_checkbox input:checked ~ span {
    text-decoration: underline;
    color: #e3177d;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.apply_service_checkbox span {
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.apply_service_checkbox span:hover {
    text-decoration: underline;
    color: #e3177d;
}

.apply_task input, .apply_contacts input  {
    width: 80%;
}

.agreement {
    font-size: 0.8rem;
    line-height: 1rem;
    display: block;
    margin-top: 1rem;
}

.apply_btn {
    width: 35%;
    margin: 4.5rem 0 0;
}

.apply_service_text {
    width: 80%;
    height: 1rem;
    padding: 1rem 0;
    margin-bottom: 2.8rem;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 1px solid #C0C0C0; /* px used instead of rem */
}


.file-input-wrapper {
    width: 100%;
    height: 2rem;
    overflow: hidden;
    position: relative;
}
.file-input-wrapper > input[type="file"] {
    font-size: 2.2rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.file-input-wrapper > .btn-file-input {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: unset;
    width: 100%;
    height: 2rem;
}

.btn-file-input span {
    display: block;
    width: auto;
    margin-left: 1rem;
    font-size: 0.8rem;
    color: #333333;
    text-align: center;
}

.load_logo {
  width: 1rem;
  height: 1rem;
  background-image: url(../img/Icons/clip.svg);
  background-size: contain;
  background-position: center;
}

footer {
    position: relative;
    margin: 0 auto;
    width: 80%;
    padding: 4rem 0 2rem;
    display: flex;
    box-sizing: border-box;
}

.footer_work_types, .footer_contacts, .footer_social_links, .footer_rights_logo {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    margin: 0 auto;
    box-sizing: border-box;
}

.footer_FAQ {
    width: 15%;
}

.footer_work_types span, .footer_FAQ span, .footer_contacts span, .footer_social_links span, .footer_rights_logo span, .footer_rights_logo a {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    line-height: 2rem;
    color: #333333;
}

.footer_contacts_item span, .footer_rights_logo span, .footer_rights_logo a  {
    line-height: 1.5rem;
}

.footer_contacts_item_tytle, .footer_social_links_tytle {
    font-weight: bold;
}
.styled_footer_item {
    color: #e3187d;
    text-decoration: underline;
    color: #e3187d;
}

.social_link_item {
    width: 1rem;
    height: 1rem;
    margin: 0 1rem;
    
}

.social_link_first {
    background-image: url(../img/Icons/vk-social-network-logo.svg);
    background-size: cover;
    background-position: center;
}

.social_link_second {
    background-image: url(../img/Icons/instagram-social-network-logo-of-photo-camera.svg);
    background-size: cover;
    background-position: center;
}

.footer_rights_logo {
    justify-content: flex-end;
}

.footer_logo {
    height: 2.6rem;
    width: 8.1rem;
    background-image: url(../img/Logo\ 4.1.png);
    background-size:  cover;
    background-position: center;
}



