html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    position: relative;
    width: 100%;
    padding: 1.5rem 4rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.header_decoration_first {
    position: absolute;
    top: -1rem;
    left: -1.5rem;
    width: 5.6rem;
    height: 5.6rem;;
    border-radius: 5.6rem;
    background-image: linear-gradient(96deg, #e3177d 0%, #3fa1d3 100%);
    -moz-box-shadow: inset 1.25rem 1.25rem 1.25rem rgba(255, 255, 255, .4), inset -1.25rem -1.25rem 1.25rem rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 1.25rem 1.25rem 1.25rem rgba(255, 255, 255, .4), inset -1.25rem -1.25rem 1.25rem rgba(0, 0, 0, .4);   /* rgba used for opacity */
    box-shadow: inset 1.25rem 1.25rem 1.25rem rgba(255, 255, 255, .4), inset -1.25rem -1.25rem 1.25rem rgba(0, 0, 0, .4);
}

.header_decoration_second {
    position: absolute;
    top: 15rem;
    left: 0;
}

.header_logo, .header_contacts {
    width: 50%;
}

.header_logo img{
    width: 6.5rem;
}

.header_contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.header_contacts_info span {
    margin: 1rem;
    font-size: 0.8rem;
    line-height: 4rem;
    color: #ffffff;
    font-family: "Montserrat";
}

.menu__icon {
    width: 2rem;
    display: flex;
    flex-direction: column;
}

.menu__icon span {
    background-color: #ffffff;
    width: 2.1rem;
    height: 2px;  /* px used instead of rem */
    margin: 0.2rem
}

.header_background {
    position: absolute;
    width: 100%;
    top: -32rem;
    right: -40rem;
}

.about {
    box-sizing: border-box;
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
}

.about h2 {
    display: block;
    width: 19rem;
    font-size: 2.8rem;
    line-height: 3.75rem;
    text-transform: uppercase;
    color: #40a2d3;
    font-weight: bold;
    margin: 0 0 4.25rem 0;
}

.about_btn {
    width: 20%;
}

.btn {
    background-color: #40a1d3;
    padding: 1.3rem 1.5rem;
    font-size: 1rem;
    color: white;
    border-radius: 2rem;
    text-align: center;
}

.next_screen {
    margin: 3.8rem auto;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}

.next_screen img {
    opacity:0.4;
    text-indent:-625rem;
    transform-origin: 50% 50%;
}

.down {
    -webkit-animation: downarrow 1s infinite alternate ease-in-out;
  }

  @-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
  }

.services {
    position: relative;
}


.title_style {
    font-size: 2rem;
    line-height: 4.4rem;
    color: #40a2d3;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-left: 2rem;
}

.service_type, .philosophy_content {
    display: flex;
    padding: 0 2rem;
    box-sizing: border-box;
    margin: 2rem auto;
}

.service_type > div {
    width: 33%;
}

.service_decoration_first {
    position: absolute;
    top: 7rem;
    left: 18.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-image: linear-gradient(-16deg, #e3177d 0%, #3fa1d3 100%);
    border-radius: 2.5rem;
}

.service_decoration_second {
    position: absolute;
    top: 15rem;
    right: -7rem;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    filter: blur(3px); /* px used instead of rem */
    background-image: linear-gradient(124deg, #e3177d 0%, #3fa1d3 100%);
}

.service_decoration_third {
    position: absolute;
    top: 1.8rem;
    left: -8rem;
}

.service_type_item {
    position: relative;
    box-sizing: border-box;
    margin: 4rem 0.5rem;
    padding: 4rem 2rem 2rem;
    height: 28rem;
    overflow: hidden;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service_type_background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.service_type_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    background:-webkit-linear-gradient(-74deg, rgb(227, 23, 125) 0%, rgb(63, 161, 211) 80%);
    background:-o-linear-gradient(-74deg, rgb(227, 23, 125) 0%, rgb(63, 161, 211) 80%);
    background:-moz-linear-gradient(-74deg, rgb(227, 23, 125) 0%, rgb(63, 161, 211) 80%);
    background:linear-gradient(-74deg, rgb(227, 23, 125) 0%, rgb(63, 161, 211) 80%);
}

.service_type_content {
    position: relative;
}


.service_type_item_first {
    background-image: url(../img/service_type_img1.jpg);
    background-size: cover;
    background-position: left;
}

.service_type_item_second {
    background-image: url(../img/service_type_img2.jpeg);
    background-size: cover;
    background-position: center;
}

.service_type_item_third{
    background-image: url(../img/service_type_img3.jpeg);
    background-size: cover;
    background-position: center;
}

.service_type_item:hover {
    margin: 2rem 0.5rem;
    height: 32rem;
    box-shadow: 0rem 0.7rem 1rem rgba(0,43,59,0.32); /* rgba used instead of hex to change opacity */
}

.service_type_item:hover .service_type_background {
    opacity: 0;
}

.service_type_item:hover .service_type_wrap {
    background: #40a1d3;
}

.service_type_item:hover p {
    color: rgba(255, 255, 255, 1);  /* rgba used instead of hex to change opacity on :hover */
}

.service_type_item:hover span {
    color: rgba(255, 255, 255, 1); /* rgba used instead of hex to change opacity on :hover */
}

.service_type_item:hover .service_type_item_logo {
    width: 10rem;
    height: 10rem;
    top: -9rem;
    left: -6rem;
    opacity: 0.1;
}

.service_type_item h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: #ffffff;
}

.service_type_item_logo {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: -4rem;
    left: 0rem;
}

.first_service_logo {
    background-image: url(../img/Icons/service_type_logo1.svg);
    background-size: cover;
    background-position: center;
}

.second_service_logo {
    background-image: url(../img/Icons/service_type_logo2.svg);
    background-size: cover;
    background-position: center;
}

.third_service_logo {
    background-image: url(../img/Icons/service_type_logo3.svg);
    background-size: cover;
    background-position: center;
}



.service_type_item p, .service_type_item span {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0);  /* rgba used instead of hex to change opacity on :hover */
    line-height: 1.5rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.apply_title {
    font-size: 1.5rem;
    line-height: 4rem;
    color: #ffffff;
}

.service_type_item span {
    display: block;
    margin: 4rem auto 0;
}

.philosophy {
    text-align: left;
    position: relative;
}

.philosophy_decoration_first {
    position: absolute;
    top: 1.8rem;
    left: -8rem;
}

.philosophy_logo, .philosophy_text {
    margin: 0 1rem 0 0;
}

.philosophy_logo {
    position: relative;
}

.philosophy_logo span {
    opacity: 0.8;
    text-transform: uppercase;
    font-size: 8rem;
    font-weight: bold;
    background: linear-gradient(124deg, #e3177d 0%, #3fa1d3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.philosophy_logo div {
    position: absolute;
    top: 8.5rem;
    right: 7.9rem;
    width: 2rem;
    height: 2rem;
    background-image: linear-gradient(124deg, #e3177d 0%, #3fa1d3 100%);
    border-radius: 2rem;
    opacity: 0.8;
    filter: blur(3px);  /* px used instead of rem */
}

.philosophy_text {
    padding: 0 2rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
    color: #333333;
    font-weight: bold;
}

.philosophy_btn {
    margin: 2.6rem 0 0;
    width: 40%;
}

.circle_block {
    width: 100%;
    position: relative;
}

.circle_decoration_first {
    position: absolute;
    top: 1rem;
    right: 5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2.5rem;
    background-image: linear-gradient(124deg, #e3177d 0%, #3fa1d3 100%);
    filter: blur(3px);  /* px used instead of rem  */
}

.circle_decoration_second {
    position: absolute;
    top: 19rem;
    left: 8rem;
    width: 1.6rem;
    height: 1.6rem;;
    border-radius: 1.6rem;
    background-image: linear-gradient(-16deg, #e3177d 0%, #3fa1d3 100%);
}

.circle_decoration_third {
    position: absolute;
    top: 1.8rem;
    left: 0rem;
}

.circle_block h2 {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding-left: 1rem;
}

.circle_content {
    position: relative;
    box-sizing: border-box;
    width: 40%;
    margin: 2rem auto;
    background-image: url(../img/circle.svg);
    background-size: cover;
    background-position: center;
    padding: 16rem;
}

.circle_content_btn {
    width: 16%;
    margin: 6rem auto;
}

.circle_content_item {
    width: 20rem;
    position: absolute;
    display: flex;
    align-items: center;
}

.circle_step {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 3.6rem;
    background-color: #ffffff;
    border: 1px solid #e3177d;  /* px used instead of rem */

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.circle_step span {
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: #e3187d;
    text-align: center;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.circle_content_item h3 {
    margin: 0 2rem;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.first_step {
    top: -5.5rem;
    left: 6.5rem;
    flex-direction: column;
    justify-content: center;
}

.first_step div {
    margin-top: 2rem;
}

.second_step {
    top: 5.2rem;
    left: 26.5rem;
}


.third_step {
    top: 17.3rem;
    left: 29.8rem;
}

.fouth_step {
    width: 23rem;
    top: 28rem;
    left: 21.6rem;
}

.fifth_step {
    top: 28rem;
    left: -5rem;
}

.sixth_step {
    top: 17.3rem;
    left: -9rem;
}

.seventh_step{
    top: 4.5rem;
    left: -13.2rem;

}

.circle_content_item h3 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #40a2d3;
    font-weight: bold;
}

.circle_content_item:hover .circle_step{
    color: #ffffff;
    background-color: #40a1d3;
    border: 1px solid rgba(18,71,97,0.38);  /* px used instead of rem */
    box-shadow: 0 0.4rem 0.8rem rgba(18,71,97,0.38);  /* rgba used instead of hex to change opacity on :hover */
}

.circle_content_item:hover span {
    color: #ffffff;
}

.circle_content_item:hover h3 {
    color: #e3187d;
}

.circle_text_item {
    padding: 3rem;
    height: 22rem;
    position: absolute;
    top: 8rem;
    left: 0;
    opacity: 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.circle_text_item p {
    font-size: 0.8rem;
    line-height: 1.4rem;
    color: #333333;
    text-align: center;
}

.circle_text_visible {
    opacity: 1;
}

.our_works, .philosophy, .services, .apply {
    width: 80%;
    margin: 0 auto 6rem;
}

.our_works {
    position: relative;
}

.work_examples {
    margin: 2rem auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.our_work_decoration_first {
    position: absolute;
    top: 1.8rem;
    left: -8rem;
}

.work_examples_item {
    width: 45%;
    box-sizing: border-box;
    padding: 6rem 6rem 6rem 4rem;
    margin: 1rem;
    position: relative;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.work_example_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00b3f6;
    opacity: 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.work_examples_item img {
    width: 5.8rem;
}

.work_examples_item p {
    margin: 2rem 0;
    color: rgba(255,255,255,0);  /* rgba used instead of hex to change opacity */
    font-size: 0.8rem;
    line-height: 1.3rem;
    position: relative;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.work_item_btn {
    margin: 1rem 0;
    position: relative;
    font-size: 0.8rem;
    line-height: 1.3rem;
    color: rgba(255,255,255,0); /* rgba used instead of hex to change opacity */

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.work_examples_item div {
    display: flex;
    justify-content: space-between;
}

.hover_logo {
    opacity: 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.work_example_third:hover .hover_logo{
    opacity: 1;
}

.work_example_third:hover .work_example_third img {
    opacity: 0;
}

.work_examples_item:hover {
    box-shadow: 0rem 0.7rem 1rem rgba(0,43,59,0.32); /* rgba used instead of hex to change opacity */
}

.work_examples_item:hover .work_example_wrap {
    opacity: 0.7;
}

.work_examples_item:hover p {
    color: rgba(255,255,255,1);
}

.work_examples_item:hover span {
    color: rgba(255,255,255,1); /* rgba used instead of hex to change opacity */
}

.work_example_first {
    background-image: url(../img/our_works_img1.jpg);
    background-size: cover;
    background-position: center;
}

.work_example_first img {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem;
}

.work_example_second {
    background-image: url(../img/our_works_img2.jpg);
    background-size: cover;
    background-position: center;
}

.work_example_logo {
    display: block;
    position: absolute;
    top: 1.5rem; 
    left:  1.5rem;
    font-size: 1.5rem;
}

.work_example_third {
    background-image: url(../img/our_works_img3.jpeg);
    background-size: cover;
    background-position: center;
}

.work_example_third img {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem;
}

.work_example_fourth {
    background-image: url(../img/our_works_img4.png);
    background-size: cover;
    background-position: center;
}

.work_example_fourth img {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem;
}

.work_example_fifth {
    background-image: url(../img/our_works_img5.jpg);
    background-size: cover;
    background-position: top;
}

.work_example_fifth img {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem;
}

.work_example_sixth {
    background-image: url(../img/our_works_img6.png);
    background-size: cover;
    background-position: right;
}

.work_example_sixth img {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem;
}

.work_examples_btn {
    width: 25%;
    margin: 2rem auto 0;
}


.apply {
    background-color: #ffffff;
    position: relative;
    z-index: 2;
    padding: 6rem;
    box-sizing: border-box;
    margin: 8rem auto 0;
    border: 3px solid #45A4D1; /* px used instead of rem */
}

.apply_decoration_first {
    position: absolute;
    top: 3rem;
    left: -9.5rem;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 5.6rem;
    background-image: linear-gradient(96deg, #e3177d 0%, #3fa1d3 100%);
    -moz-box-shadow: inset 1.25rem 1.25rem 1.25rem rgba(255, 255, 255, .4), inset -1.25rem -1.25rem 1.25rem rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 1.25rem 1.25rem 1.25rem rgba(255, 255, 255, .4), inset -1.25rem -1.25rem 1.25rem rgba(0, 0, 0, .4);  /* rgba used instead of hex to change opacity */
    box-shadow: inset 1.25rem 1.25rem 1.25rem rgba(255, 255, 255, .4), inset -1.25rem -1.25rem 1.25rem rgba(0, 0, 0, .4);
}

.apply_decoration_second {
    position: absolute;
    bottom: 2rem;
    right: 22rem;
    width: 2rem;
    height: 2rem;
    filter: blur(3px);  /* px used instead of rem */
    border-radius: 100%;
    background-image: linear-gradient(124deg, #e3177d 0%, #3fa1d3 100%);
}

.pagination {
    position: absolute;
    top: 0rem;
    right: 0rem;
}

.apply_text_style {
    text-align: center;
}



.apply p {
    font-size: 0.8rem;
    color: #333333;
}

.apply_content, form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.apply_project_info, .apply_contacts {
    width: 50%;
    margin: 0 auto;
}


.apply_project_info h3, .apply_contacts h3{
    color: #45A4D1;
}

.apply_service h4, .apply_service span, .apply_project_info h4, .apply_contacts input, .apply_contacts h4 {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
}

.apply_contacts h4 {
    color: #B9B9B9;
    margin: 0;
}

.apply_service input {
    margin-right: 1rem;
}

.apply_service_checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    width: 100%;
    padding-bottom: 0.5rem;
}

.apply_service_checkbox span {
    font-size: 0.8rem;
    color: #333333;
    text-align: center;
    margin-left: 1.5rem;
}

.apply_service_checkbox_wrap {
    position: relative;
}

.apply_service_checkbox_wrap img {
    position: absolute;
    width: 60%;
    top: 0.2rem;
    left: 0.3rem;
    opacity: 0;
}
  
.apply_service_checkbox .apply_service_checkbox_wrap {
    width: 1.25rem;
    height: 1.2rem;
    border-radius: 0.3rem;
    border: 1px solid #999999;/* px used instead of rem */
    display: inline-block;
}
  
.apply_service_checkbox input[type="checkbox"] {
    display: none;
}


.apply_service_checkbox input:checked + .apply_service_checkbox_wrap {
    border: 1px solid #e3187d; /* px used instead of rem */

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.apply_service_checkbox input:checked + .apply_service_checkbox_wrap img{
    opacity: 1;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.apply_service_checkbox input:checked ~ span {
    text-decoration: underline;
    color: #e3177d;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.apply_service_checkbox span {
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.apply_service_checkbox span:hover {
    text-decoration: underline;
    color: #e3177d;
}

.apply_task input, .apply_contacts input  {
    width: 80%;
}

.agreement {
    font-size: 0.8rem;
    line-height: 1rem;
    display: block;
    margin-top: 1rem;
}

.agreement a {
    color: #00b3f6;
}

.apply_btn {
    width: 35%;
    margin: 4.5rem 0 0;
}

.apply textarea, .apply_service_text {
    resize: none;
    width: 80%;
    height: 1rem;
    padding: 1rem 0;
    margin-bottom: 2.8rem;
    border-top: unset;
    border-left: unset;
    border-right: unset;
    border-bottom: 1px solid #C0C0C0; /* px used instead of rem */
}


.file-input-wrapper {
    width: 100%;
    height: 2rem;
    overflow: hidden;
    position: relative;
}
.file-input-wrapper > input[type="file"] {
    font-size: 2.2rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.file-input-wrapper > .btn-file-input {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: unset;
    width: 100%;
    height: 2rem;
}

.btn-file-input span {
    display: block;
    width: auto;
    margin-left: 1rem;
    font-size: 0.8rem;
    color: #333333;
    text-align: center;
}

.load_logo {
  width: 1rem;
  height: 1rem;
  background-image: url(../img/Icons/clip.svg);
  background-size: contain;
  background-position: center;
}

footer {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 20rem;
    padding: 8rem 1rem 0;
    display: flex;
    box-sizing: border-box;
}

.footer_work_types, .footer_contacts, .footer_social_links, .footer_rights_logo {
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 2;
}

.footer_social_links div {
    display: flex;
}

.footer_FAQ {
    width: 15%;
}

.footer_line {
    display: block;
    width: 100%;
    font-size: 0.8rem;
    line-height: 2rem;
    color: #333333;
}


.footer_work_types span {
    color: #ffffff;
}

.footer_contacts_item span, .footer_rights_logo span, .footer_rights_logo a  {
    line-height: 1.5rem;
}

.footer_contacts_item_tytle, .footer_social_links_tytle {
    font-weight: bold;
}
.styled_footer_item {
    text-decoration: underline;
    color: #e3187d;
    display: block;
    width: 100%;
    font-size: 0.8rem;
    line-height: 2rem;
}

.social_link_item {
    width: 1rem;
    height: 1rem;
    margin: 0 1rem;
    
}

.social_link_first {
    background-image: url(../img/Icons/vk-social-network-logo.svg);
    background-size: cover;
    background-position: center;
}

.social_link_second {
    background-image: url(../img/Icons/instagram-social-network-logo-of-photo-camera.svg);
    background-size: cover;
    background-position: center;
}

.footer_rights_logo {
    text-align: justify;
}

.footer_logo {
    height: 2.6rem;
    width: 8.1rem;
    background-image: url(../img/Logo\ 4.1.png);
    background-size:  cover;
    background-position: center;
}

.footer_background {
    height: 10rem;
    overflow-y: hidden;
}

.footer_background img {
    position: absolute;
    top: -13rem;
    left: -16rem;
    bottom: 0
}

#pagination {
    position: fixed;
    top: 22rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 6.3rem;
    list-style: none;
  }
  #pagination li {
    position: relative;
    margin: 0.5rem 0;
    background: #ffff;
    border-radius: 0.3rem;
    border: 1px solid #00b3f6;   /* px used instead of rem */
    width: 0.3rem;
    height: 0.3rem;
    transition: all .2s ease;
  }
  #pagination li:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  #pagination a {
    position: absolute;
    text-decoration: none;
    width: 0.3rem;
    height: 0.3rem;
    left: 0;
    top: 0;
    border-radius: 0.3rem;
  }
  
  .first_screen_pagination {
      background: #ffffff;
  }



  body.page1 #pagination li:nth-of-type(1),
  body.page2 #pagination li:nth-of-type(2),
  body.page3 #pagination li:nth-of-type(3),
  body.page4 #pagination li:nth-of-type(4),
  body.page5 #pagination li:nth-of-type(5),
  body.page6 #pagination li:nth-of-type(6)  {
    -webkit-transform: scale(2);
            transform: scale(2);
            background: #ffff;
            border: 1px solid #e3187d;
  }
  

