html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

header {
    position: relative;
    width: 100%;
    padding: 1.5rem 4rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.header_logo, .header_contacts {
    width: 50%;
}

.header_logo img{
    width: 6.5rem;
}

.header_contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.header_contacts_info span {
    margin: 1rem;
    font-size: 0.8rem;
    line-height: 4rem;
    color: #ffffff;
    font-family: "Montserrat";
}

.menu__icon {
    width: 2rem;
    display: flex;
    flex-direction: column;
}

.menu__icon span {
    background-color: #ffffff;
    width: 2.1rem;
    height: 2px;  /* px used instead of rem */
    margin: 0.2rem
}

.header_background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -30rem;
    right: -45rem;
    /*background-image: url(../img/about_background.svg);
        width: 84.8rem;
    height: 82.8rem;
    background-size: cover;
    background-position: center;*/
}

.about {
    box-sizing: border-box;
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
}

.about h2 {
    display: block;
    width: 19rem;
    font-size: 2.8rem;
    line-height: 3.75rem;
    text-transform: uppercase;
    color: #40a2d3;
    font-weight: bold;
    margin: 0 0 4.25rem 0;
}

.about_btn {
    width: 20%;
}

.btn {
    background-color: #40a1d3;
    padding: 1.3rem 1.5rem;
    font-size: 1rem;
    color: white;
    border-radius: 1.8rem;
    text-align: center;
}

.next_screen {
    margin: 3.8rem auto;
    box-sizing: border-box;
    width: 100%;
    text-align: center;

}

.services, .philosophy, .apply{
    box-sizing: border-box;
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
}

.services h2, .philosophy h2, .our_works h2, .apply h2 {
    font-size: 2rem;
    line-height: 4.4rem;
    color: #40a2d3;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.service_type, .philosophy_content, .work_examples {
    width: 100%;
    display: flex;
    margin: 6.75rem auto 0;
}

.service_type > div {
    width: 33%;
}

.service_type_item {
    box-sizing: border-box;
    margin: 4rem 0.5rem;
    background-color: #A34F9E;
    padding: 2rem 1rem;
    height: 20rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service_type_item:hover {
    background-color: #45A4D1;
    margin: 2rem 0.5rem;
    height: 25rem;

}

.service_type_item:hover p {
    color: rgba(255, 255, 255, 1);  /* rgba used instead of hex to change opacity on :hover */
}

.service_type_item:hover span {
    color: rgba(255, 255, 255, 1); /* rgba used instead of hex to change opacity on :hover */
}

.service_type_item_logo {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #ffffff;
}



.service_type_item p, .service_type_item span {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0);  /* rgba used instead of hex to change opacity on :hover */
    line-height: 1.5rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service_type_item h3, .apply_project_info h3, .apply_contacts h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 300;
    color: #ffffff;
}

.service_type_item span {
    display: block;
    margin: 4rem auto 0;
}

.philosophy_logo, .philosophy_text {
    width: 50%;
    margin: 0 1rem 0 0;
}

.philosophy_logo {
    background-color: #45A4D1;
}

.philosophy_btn {
    margin: 2rem 0 0;
    width: 40%;
}

.our_works {
    box-sizing: border-box;
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
}

.work_examples_col {
    margin: 0 auto;
    flex-direction: column;
}

.work_examples_item {
    box-sizing: border-box;
    padding: 10rem 14rem;
    background-color: #45A4D1;
    margin: 1rem;
}

.work_examples_btn {
    width: 25%;
    margin: 2rem auto 0;
}

.our_works h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    color: #45A4D1;
    text-transform: uppercase;
    display: block;
    margin: 1.2rem;
}

.apply {
    border: 3px solid #45A4D1; /* px used instead of rem */
}

.apply h2, .apply p {
    text-align: center;
}

.apply_content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}



.apply_project_info, .apply_contacts {
    width: 50%;
    margin: 0 auto;
}

.apply_project_info h3, .apply_contacts h3{
    color: #45A4D1;
}

.apply_service h4, .apply_service span, .apply_project_info h4, .apply_contacts input {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
}

.apply_service input {
    margin-right: 1rem;
}

.apply_service_checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    width: 100%;
    padding-bottom: 0.5rem;
}

.apply_service_checkbox span {
    margin-left: 1.5rem;
}

  
.apply_service_checkbox .apply_service_checkbox_wrap {
    width: 1rem;
    height: 1rem;
    border: solid 1px black; /* px used instead of rem */
    display: inline-block;
}
  
.apply_service_checkbox input[type="checkbox"] {
    display: none;
}
  
.apply_service_checkbox input:checked + .apply_service_checkbox_wrap {
    background-color: #A34F9E;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.apply_task input, .apply_contacts input  {
    width: 100%;
}

.agreement {
    font-size: 0.8rem;
    line-height: 1rem;
    display: block;
    margin-top: 1rem;
}

.apply_btn {
    width: 25%;
    margin: 1rem 0;
}

.apply_service_text {
    width: 100%;
    height: 2rem;
    padding: 0.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #C0C0C0; /* px used instead of rem */
}

.fileupload-wrapper {
    position: relative;
    width: 1rem;
    overflow: hidden;
  }

.fileupload-label {
    display: block;
    position: absolute;
    border: none;
    left: 0;
    width: 1rem;
    height: 1rem;
    background-image: url('https://image.flaticon.com/icons/svg/45/45538.svg');
    background-size: cover;
    background-position: center;
  }

.fileupload {
    width: 1px;
    height: 1px;  /* px used instead of rem */
    overflow: hidden;
  }
  
.fileupload-url {
    border: none;
    margin-bottom: 0;
  }
  
.apply_add_file {
    padding: 1rem;
    display: flex;
    align-items: center;
  }

  .apply_add_file span {
      margin-left: 1rem;
  }




