html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

header {
    position: relative;
    width: 100%;
    padding:  3.0625rem 8rem;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    background-image: url(../img/header_bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover
}

.menu {
    background-color: #00b3f6;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 3.0625rem 8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    opacity: 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.menu_visible {
    opacity: 1;
    z-index: 10;
    height: 50rem;
}

.full_menu {
    width: 70%;
}

.menu_logo {
    height: 2.5rem;
}

.menu_logo img {
    width: 7.6rem;
    height: 2.5rem;
}

.full_menu ul {
    display: block;
    margin: 3.6rem auto 0;
    list-style: none;
    padding: 0;
}

.full_menu ul::after {
    content: '';
    display: block;
    width: 30%;
    height: 0.1rem;
    margin: 2rem 0.5rem;
    background-color: #ffffff;
}

.full_menu a {
    text-decoration: unset;
    font-size: 3.8rem;
    margin-bottom: 3rem;
    color: #ffffff;
    font-weight: bold;
}

.menu_contacts {
    width: 30rem;
    margin: -4rem auto 0;
    box-sizing: border-box;
    padding: 0 2.5rem;
}

.menu_contacts span {
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
    color: #ffffff;
    display: block;
}

.menu_social_links img {
    width: 1rem;
    height: 1rem;
    margin: 0.5rem 0.5rem 0 0;
}

.styled_full_menu_item {
    color: #333333 !important;
}

.close {
    position: absolute;
    top: 0rem;
    right: -1.5rem;
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
    opacity: 1;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.close:before,
.close:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1.6rem;
    height: 0.1rem;
    background: #ffffff;
}

.close:before {
    webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close:after {
    webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close:hover {
    opacity: 0.7;
}

.header_contact_section, .header_nav_section {
    width: 100%; 
    display: flex;
}

.header_logo,
.header_contacts {
    width: 50%;
}
.header_logo {
    padding-top: 0.6rem;
}

.header_contacts_info {
    z-index: 2;
}

.header_logo img {
    width: 7.6rem;
    height: 2.5rem;
}

.header_contacts {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_contacts_info span {
    margin: 1rem;
    font-size: 0.87rem;
    line-height: 4rem;
    color: #333333;
    font-family: "Montserrat";
}

.header_burger_menu {
    z-index: 1001;
}

.menu__icon {
    display: inline-block;
    margin-top: 1.2rem;
    width: 2.1rem;
    height: 2.1rem;
    position: relative;
    cursor: pointer;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #e3187d;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);

    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0;
}

.menu__icon span:nth-child(2),
.menu__icon span:nth-child(3) {
    top: 0.5rem;
}

.menu__icon span:nth-child(4) {
    top: 1rem;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 1rem;
    width: 0%;
    left: 50%;
    background-color: #ffffff;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
    background-color: #ffffff;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #ffffff;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 1rem;
    width: 0%;
    left: 50%;
    background-color: #ffffff;
}

.about {
    width: 100%;
    margin: 0 auto 2rem;
    display: flex;
}

.section_text, .section_logo {
    width: 50%;
}

.section_text {
    padding: 5rem 0rem;
}

.section_logo {
    margin-top: -5rem;
}

.section_text h2 {
    font-size: 2.875rem;
    line-height: 60px;
    color: #333333;
    font-weight: bold;
    margin: 1.75rem auto;
    text-transform: uppercase;
}

.section_text p {
    font-size: 0.875rem;
    color: #333333;
    margin-bottom: 2.875rem;
}

.next_screen {
    width: 100%;
    display: flex;
}

.about_arrow {
    margin: 4rem auto 0;
}

.section_text a {
    z-index: 100;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #e3187d;
    font-size: 0.875rem;
    line-height: 3.75rem;
    color: #000000;
    font-family: "Montserrat";
}

.task {
    width: 100%;
    padding:  7.4375rem 8rem;
    background-color: #ffffff;
    position: relative;
}

.title_style {
    font-size: 1.875rem;
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}


.task p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333333;
    display: block;
    margin-top: 2.4375rem;
    margin-bottom: 4.8125rem;
}

.img_section {
    width: 95%;
    margin: 0 auto;
    height: 32rem;
    overflow-y: scroll;
}

.web_page_img {
    width: 100%;
    height: 400rem;
    background-image: url(../img/webpage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.solution {
    width: 100%;
    padding:  7.4375rem 8rem;
    background-color: #ffffff;
    position: relative;
}

.solution_ul_title, .solution li {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333333;
    font-family: "Montserrat";
    margin-bottom: 1.75rem;
    display: block;
}

.solution li {
    display: flex;
    align-items: center;

}

.solution li::before {
    content: ""; 
    display: block;
    height: 0.375rem;
    width: 0.375rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: #e3187d;}

.solution_ul_title {
    margin-top: 2.4375rem;
}

.functional {
    width: 100%;
    padding:  7.4375rem 8rem 10rem;
    background-color: #ffffff;
    position: relative;
}

.functional_item {
    width: 100%;
    display: flex;
    position: relative;
    height: 36rem;
}

.functional_item:nth-of-type(1) {
    margin-top: 18.6875rem;
}

.functional_item__piece {
    width: 50%;
}

.functional_item__piece:nth-of-type(1) {
    padding-right: 3rem;
}

.number {
    font-size: 1.875rem;
    color: #df1b7f;
    margin-bottom: 1.75rem;
    display: block;
}

.functional_item__piece_title {
    font-size: 1.125rem;
    color: #333333;
    font-weight: bold;
    margin-bottom: 1.5625rem;
}

.functional_item__piece p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333333;
}

.functional_first_section {
    position: absolute;
    right: -30rem;
    top: 4rem;
    background-image: url(../img/functional1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    width: 63rem;
    border-radius: 0.9375rem;
    box-shadow: 0 0 1.8125rem rgba(0,0,0,0.13);
}

.functional_second_section {
    background-image: url(../img/loyalty.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 36rem;
}

.functional_text_section {
    margin-top: 8rem;
    margin-left: 8rem;
}

.functional_item:nth-of-type(2) {
    padding-top: 14rem;
}

.functional_third_section {
    position: absolute;
    right: -30rem;
    top: 2rem;
    background-image: url(../img/functional3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
    width: 63rem;
    border-radius: 0.9375rem;
    box-shadow: 0 0 1.8125rem rgba(0,0,0,0.13);
}

.last_funational_section{
    margin-top: 8rem;
    margin-right: 4rem;
}

.functional_item:nth-of-type(3) {

    margin-top: 10rem;

}

.mobile {
    width: 100%;
    padding:  9.4375rem 8rem 6.4375rem;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.mobile .title_style {
    color: #333333;
    display: block;
    width: 100%;
}

.mobile p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333333;
    margin-top: 2.0625rem;
    display: block;
    width: 45%;
}

.img_group {
    width: 55%;
    position: relative;
}

.first_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/left-side.png);
    width: 100%;
    height: 30rem;
    margin-top: -7rem;
}

.second_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/right-side.png);
    width: 8.0625rem;
    height: 22.5rem;
    position: absolute;
    right: 2.5rem;
    bottom: -0.5rem;
}

.decoration_line {
    position: absolute;
    left: -0.625rem;
    top: 8rem;
    width: 7.25rem;
    height: 0.75rem;
}

.mobile .decoration_line {
    top: 10rem; 
}

header .decoration_line {
    top: 14.5rem;
}
.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width :2.125rem;
    height: 3.4375rem;
}
.mousey {
    width: 0.1875rem;
    padding: 0.625rem 0.9375rem;
    height: 2.1875rem;
    border: 0.125rem solid #fff;
    border-radius: 1.5625rem;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 0.1875rem;
    height: 0.625rem;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}


.progress_animation {
    animation: progress 2s infinite alternate;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes progress {
    from {
        left: -100%;
    }

    to {
        left: -0.625rem;
    }
}

.results {
    width: 100%;
    padding: 7.4375rem 8rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.results .title_style {
    color: #333333;
    display: block;
    width: 100%;
}

.results p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333333;
    margin-top: 2.0625rem;
    display: block;
}

.results_text_content, .results_in_numbers {
    width: 50%;
}

.btn {
    cursor: pointer;
    background-color: #3fa1d3;
    padding: 0.8rem 0.75rem;
    font-size: 0.93rem;
    color: white;
    border-radius: 1.875rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: unset;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.btn:hover {
    box-shadow: 0px 5px 16px rgba(14, 76, 107, 0.39);
}

.about_btn {
    position: relative;
    margin-left: 0.18rem;
    width: 15.6875rem;
    margin-top: 5.5rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.btn:hover .arrow_btn {
    margin-left: 8rem;
}

.about_btn span {
    position: absolute;
    top: 1.06rem;
    left: 1.375rem;
}

.arrow_btn {
    margin-left: 6rem;
    width: 2.25rem;
    height: 1.75rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.results_in_numbers {
    display: flex;
    flex-wrap: wrap;
    padding-left: 5rem;
    padding-top: 2.0625rem;
}

.results_in_numbers__item {
    width: 50%;
}

.count_number {
    font-size: 2.5rem;
    line-height: 1.375rem;
    color: #e64695;
    text-align: center;
}

.result_number_explanation {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333333;
    text-align: center;
    margin-top: 0.375rem;
}

.result_number_explanation, .count_number {
    display: block;
    width: 100%;
}

.client_review {
    position: relative;
    width: 100%;
    padding: 7.4375rem 8rem;
}

.client_review_content {
    width: 100%;
    border-radius: 0.9375rem;
    box-shadow: 0 0 1.8125rem rgba(0,0,0,0.13);
    background-color: #f2f2f2;
    border: 0.0625rem solid #eeeeee;
    padding: 4.625rem 3.8125rem;
    margin-top: 2.75rem;
    display: flex;
}

.client_img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    background-image: url(../img/client_review.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.client_text {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4.4375rem;
}

.client_text p {
    padding-left: 3rem;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333333;
}

.client_text p:nth-of-type(1) {
    margin-bottom: 1.5rem;
}

.client_text svg {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 2.4375rem;
}

.client_text span {
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: #333333;
    font-weight: bold;
    display: block;
    width: 50%;
    margin-top: 4.1875rem;
    padding-left: 3rem;
}

.client_review_btn {
    position: relative;
    margin: 5.5rem auto 0;
    width: 18.75rem;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.client_review_btn .arrow_btn {
    margin-left: -3rem;
}

.client_review .btn:hover .arrow_btn {
    margin-left: 1rem; 
}

.team {
    position: relative;
    width: 100%;
    padding: 7.4375rem 8rem;
}

.team_content {
    display: flex;
    padding-top: 4rem;
}

.team_item {
    width: 25%;
}

.team_item_title {
    font-size: 1rem;
    color: #333333;
    font-weight: bold;
    display: block;
    width: 100%;
    margin-bottom: 0.5625rem;
}

.team_item_text {
    font-size: 1rem;
    margin-bottom: 0.5625rem;
    color: #333333;
    display: block;
    width: 100%;
}

.our_works {
    position: relative;
    width: 100%;
    padding: 7.4375rem 8rem;
}

.our_works_content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-top: 4.4375rem;
}


.work_examples_item {
    width: 33%;
    margin-right: 1rem;
    box-sizing: border-box;
    padding: 3rem 2rem;
    position: relative;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.work_example_wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00b3f6;
    opacity: 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.work_examples_item_company_logo {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    width: 5.8rem;
}

.work_examples_item p {
    width: 100%;
    margin: 2rem 0;
    color: rgba(255, 255, 255, 0);
    /* rgba used instead of hex to change opacity */
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    position: relative;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.work_examples_item svg {
    width: 8.8rem;
}

.work_item_btn {
    opacity: 0;
    font-size: 0.75rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.work_item_btn .arrow_btn {
    margin-left: 0;
    width: 2rem;
    height: 1.5rem;
}

.work_section_down_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    opacity: 1;
    left: 2rem;
    right: 2rem;
    bottom: 1.5rem;
}

.work_section_down_btn .arrow_btn {
    opacity: 0;
}

.hover_logo {
    opacity: 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.work_example_third:hover .hover_logo {
    opacity: 1;
}

.work_example_third:hover .work_example_third img {
    opacity: 0;
}


.work_examples_item:hover {
    box-shadow: 0rem 0.7rem 1rem rgba(0, 43, 59, 0.32);
    /* rgba used instead of hex to change opacity */
}

.work_examples_item:hover .work_example_wrap {
    opacity: 0.7;
}

.work_examples_item:hover p {
    color: rgba(255, 255, 255, 1);
    /* rgba used instead of hex to change opacity */
}

.work_examples_item:hover .work_item_btn {
    opacity: 1;
}

.work_examples_item:hover .arrow_btn {
    opacity: 1;
}

.work_example_first {
    background-image: url(../../drim_main/img/our_works_img1.jpg);
    background-size: cover;
    background-position: center;
}

.work_example_second {
    background-image: url(../../drim_main/img/our_works_img2.jpg);
    background-size: cover;
    background-position: center;
}

.work_example_logo {
    display: block;
    font-size: 1.5rem;
    left: 2.5rem;
    top: 2.5rem;
    position: absolute;
    color: #ffffff;
}

.work_example_third {
    background-image: url(../../drim_main/img/our_works_img3.jpeg);
    background-size: cover;
    background-position: center;
}

footer {
    position: relative;
    width: 100%;
    padding: 6.125rem 1rem 6.125rem;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

.footer_content {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.footer_work_types,
.footer_contacts,
.footer_social_links,
.footer_rights_logo,
.footer_FAQ {
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
    box-sizing: border-box;
    z-index: 2;
}

.footer_social_links div {
    display: flex;
}

.footer_FAQ {
    width: 24%;
    padding-left: 5rem;
}

.footer_line {
    display: block;
    width: 100%;
    font-size: 0.8125rem;
    line-height: 2rem;
    color: #333333;
    border-bottom: 1px solid rgba(227, 24, 125, 0);

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.styled_footer_line {
    width: 56%;
}

.styled_footer_line:hover {
    color: #e3187d;
    text-decoration: underline;
}


.footer_work_types span {
    display: block;
    width: 91%;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.footer_work_types span:hover {
    color: #e3187d;
    text-decoration: underline;
}

.footer_contacts_item span,
.footer_rights_logo span,
.footer_rights_logo a {
    line-height: 1.5rem;
    width: 120%;
}

.footer_contacts_item_tytle,
.footer_social_links_tytle {
    font-weight: bold;
}


.social_link_item {
    width: 1rem;
    height: 1rem;
    margin: 0 1rem;

}

.social_link_first {
    background-image: url(../../drim_main/img/Icons/vk-social-network-logo.svg);
    background-size: cover;
    background-position: center;
}

.socils_link_hover_first {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 1rem;
    opacity: 0;
    background-image: url(../../drim_main/img/Icons/vk-social-network-logo_hover.svg);
    background-size: cover;
    background-position: center;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.social_link_second {
    background-image: url(../../drim_main/img/Icons/instagram-social-network-logo-of-photo-camera.svg);
    background-size: cover;
    background-position: center;
}

.socil_link_hover_second {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 1rem;
    opacity: 0;
    background-image: url(../../drim_main/img/Icons/instagram-social-network-logo-of-photo-camera_hover.svg);
    background-size: cover;
    background-position: center;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.social_el {
    position: relative;
    cursor: pointer;
}

.social_el:hover .footer_hover_el {
    opacity: 1;
}

.footer_rights_logo {
    text-align: justify;
}

.footer_logo {
    height: 2.6rem;
    margin-bottom: 0.5rem;
    background-image: url(../../drim_main/img/Logo\ 4.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}
/*@media screen and (min-width: 2001px) and (max-width: 2560px) {
    html,
    body {
        font-size: 32px;
    }

    .functional_first_section, .functional_third_section {
        right: -38rem;
    }

    .img_group {
        padding-left: 2rem;
    }

    .second_img {
        right: 2.5rem;
    }
}

@media screen and (min-width: 1801px) and (max-width: 2000px) {
    html,
    body {
        font-size: 28px;
    }

    .functional_first_section, .functional_third_section {
        right: -38rem;
    }
}

@media screen and (min-width: 1601px) and (max-width: 1800px) {
    html,
    body {
        font-size: 24px;
    }

    .functional_first_section, .functional_third_section {
        right: -38rem;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1600px)  {
    html,
    body {
        font-size: 20px;
    }

    .functional_first_section, .functional_third_section {
        right: -34rem;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1440px) {
    html,
    body {
        font-size: 18px;
    }

    .functional_first_section, .functional_third_section {
        right: -33rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1230px) {
    html,
    body {
        font-size: 15px;
    }

    .functional_first_section, .functional_third_section {
        right: -35rem;
    }
}

@media screen and (min-width: 901px) and (max-width: 1023px) {
    html,
    body {
        font-size: 14px;
    }

    .functional_first_section, .functional_third_section {
        right: -37rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
    html,
    body {
        font-size: 13px;
    }

    .functional_first_section, .functional_third_section {
        height: 30rem;
        width: 53rem;
    }

    .img_group {
        padding-left: 4rem;
    }

    .first_img {
        height: 25rem;
    }

    .second_img {
        height: 17.5rem;
        right: -0.5rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 767px)  {
    html,
    body {
        font-size: 13px;
    }

    .task {
        padding: 7.4375rem 4rem;
    }

    .img_section {
        width: 100%;
    }

    .task .title_style {
        display: block;
        margin-left: 4rem;
    }

    .functional_item__piece {
        width: 100%;
    }

    .functional_item {
        flex-wrap: wrap;
    }

    .functional_first_section, .functional_third_section {
        position: static;
        height: 23rem;
        margin: 2rem auto;
    }

    .functional_item:nth-of-type(3) .functional_item__piece{
        width: 50%;
    }

    .functional_text_section {
        margin-top: 11rem;
        margin-left: 0rem;
        padding-left: 3rem;
    }

    .last_funational_section{
        margin-top: 0rem;
        margin-right: 0rem;
    }

    .functional_item:nth-of-type(3) {
        margin-top: 5rem;
    }

    .functional_item:nth-of-type(2) {
        padding-top: 4rem;
    }

    .mobile p, .img_group {
        width: 100%;
    }

    .first_img {
        margin-top: 2rem;
    }

    .second_img {
        right: 6.5rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 600px) {
    html,
    body {
        font-size: 12px;
    }

    .task, .solution, .functional, .mobile {
        padding: 7.4375rem 4rem 2rem;
    }

    .img_section {
        width: 100%;
    }

    .functional_item__piece {
        width: 100%;
    }

    .functional_item {
        flex-wrap: wrap;
    }

    .functional_first_section, .functional_third_section {
        position: static;
        height: 18rem;
        margin: 2rem auto;
    }

    .functional_item:nth-of-type(3) .functional_item__piece{
        width: 50%;
    }

    .functional_text_section {
        margin-top: 11rem;
        margin-left: 0rem;
        padding-left: 3rem;
    }

    .last_funational_section{
        margin-top: 0rem;
        margin-right: 0rem;
    }

    .functional_item:nth-of-type(3) {
        margin-top: 5rem;
    }

    .functional_item:nth-of-type(2) {
        padding-top: 4rem;
    }

    .mobile p, .img_group {
        width: 100%;
    }

    .first_img {
        margin-top: 2rem;
    }

    .second_img {
        right: 1.5rem;
    }

    .solution li span {
        width: 90%;
    }

    header, .menu {
        padding: 3.0625rem 2rem;
    }

    .decoration_line {
        display: none;
    }

    .full_menu {
        width: 100%;
    }

    .menu_contacts {
        padding: 0;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    html,
    body {
        font-size: 11px;
    }

    .task, .solution, .functional, .mobile {
        padding: 7.4375rem 4rem 2rem;
    }

    .img_section {
        width: 100%;
    }

    .functional_item__piece {
        width: 100%;
    }

    .functional_item {
        flex-wrap: wrap;
    }

    .functional_first_section, .functional_third_section {
        position: static;
        height: 18rem;
        margin: 2rem auto;
    }

    .functional_item:nth-of-type(3) .functional_item__piece{
        width: 50%;
    }

    .functional_text_section {
        margin-top: 11rem;
        margin-left: 0rem;
        padding-left: 3rem;
    }

    .last_funational_section{
        margin-top: 0rem;
        margin-right: 0rem;
    }

    .functional_item:nth-of-type(3) {
        margin-top: 5rem;
    }

    .functional_item:nth-of-type(2) {
        padding-top: 4rem;
    }

    .mobile p, .img_group {
        width: 100%;
    }

    .first_img {
        margin-top: 2rem;
    }

    .second_img {
        right: 1.5rem;
    }

    .solution li span {
        width: 90%;
    }

    header, .menu {
        padding: 3.0625rem 2rem;
    }

    .decoration_line {
        display: none;
    }

    .full_menu {
        width: 100%;
    }

    .menu_contacts {
        padding: 0;
        margin: -4rem 0 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    html,
    body {
        font-size: 10px;
    }

    .task, .solution, .functional, .mobile {
        padding: 7.4375rem 4rem 2rem;
    }

    .img_section {
        width: 100%;
    }

    .functional_item__piece {
        width: 100%;
    }

    .functional_item {
        flex-wrap: wrap;
    }

    .functional_first_section, .functional_third_section {
        position: static;
        height: 16rem;
        margin: 2rem auto;
    }

    .functional_item:nth-of-type(3) .functional_item__piece{
        width: 50%;
    }

    .functional_text_section {
        margin-top: 11rem;
        margin-left: 0rem;
        padding-left: 3rem;
    }

    .last_funational_section{
        margin-top: 0rem;
        margin-right: 0rem;
    }

    .functional_item:nth-of-type(3) {
        margin-top: 5rem;
    }

    .functional_item:nth-of-type(2) {
        padding-top: 4rem;
    }

    .mobile p, .img_group {
        width: 100%;
    }

    .first_img {
        margin-top: 2rem;
    }

    .second_img {
        right: 1.5rem;
    }

    .solution li span {
        width: 90%;
    }

    header, .menu {
        padding: 3.0625rem 2rem;
    }

    .decoration_line {
        display: none;
    }

    .full_menu {
        width: 100%;
    }

    .menu_contacts {
        padding: 0;
        margin: -4rem 0 0;
    }
} */